#frm{

    text-align: center;
    border: 2px solid blue;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;


}


#header{

 text-align: center;
 color:green;

}